@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#MinTrayR_toolbaritem {
  list-style-image: url(chrome://mintrayr/skin/toolmono.png);
}
#MinTrayR_toolbaritem  > .toolbarbutton-icon {
  margin: 0px !important;
  width: auto !important;
  height: auto !important;
}
